.body {
    display: flex;
    flex-flow: column;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.colorfont {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 50px 200px;
}
.colorfont2 {    
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;

}
/* part1 */
.head {
    display: flex;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.head-sec {
}


/* part2 */
.part2 {
    display: flex;
    justify-content: space-between;
    min-height: 250px;
}
.lefta {
    display: flex ;
    flex-flow: column wrap;
    font-size: 48px;
    font-weight: bolder;
    justify-content: space-between;
}

.card {
    width: 500px;
    height: auto;
    word-wrap: break-word;
}

.buttom {
    background-color: #3882F6;
    padding: 5px 40px;
    max-width: max-content;
    border-radius: 10px;
    text-align: center;
    border: 0;
    
}

.righta {
    display: flex;
    flex-flow: column;
}







ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    color: aquamarine;
}

img {
    max-width: 300px;
}
