.body {
    display: flex;
    flex-flow: column;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.colorfont {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 50px 200px;
}
.colorfont2 {    
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;

}
/* part1 */
.head {
    display: flex;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    gap: 250px;
}
/* part2 */
.part2 {
    display: flex;
    justify-content: space-around;
    min-height: 250px;
}
.lefta {
    display: flex ;
    flex-flow: column wrap;
    font-size: 48px;
    font-weight: bolder;
    justify-content: space-between;
    gap: 20px;
}

.card {
    width: 500px;
    height: auto;
    word-wrap: break-word;
    word-spacing: 5px;
}

.buttom {
    background-color: #3882F6;
    padding: 5px 40px;
    max-width: max-content;
    border-radius: 10px;
    text-align: center;
    border: 0;  
}

.righta {
    display: flex;
    flex-flow: column;
}

/* part3 */
.part3 {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.colorfont3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.part3title {
    padding-bottom: 50px;
}
.part3list {
    display: flex;
    align-items: flex-start;
}

.part3text {
    font-weight: normal;
    width: 300px;
    font-size: medium;
}

/* part4 */
.part4 {
    background-color:#E5E7EB ;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
}


.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    width: 600px;
    quotes: none ;
}

.quoter {
    font-weight: bold;
    font-size: 25px;
    color: #1F2937;
    text-align: end;
    width: 600px;
}
/* part5 */
.part5 {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    margin-top: 50px;
    margin-bottom: 50px;
}
.part5text {
    background-color: #3882F6;
    padding: 50px 160px;
    padding-left: 60px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.part5head {
    font-weight: bolder;
    font-size: larger;
    color: white;
}

.part5button {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.button2 {
    padding: 5px 20px;
    border-width: 2px;
    border-color: #F9FAF8;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
    margin-right:  60px;
    margin-left: 60px;
}

/* part6 */

.footer{
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: medium;
}



ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    color: aquamarine;
}

img {
    max-width: 300px;
}

.part3list img {
    height: 400px ;
}
