.body {
    display: flex;
    flex-flow: column;
    font-family: 'Roboto', sans-serif;
}

.head {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.head-sec {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
    gap: 25px;
    align-items: center;
}








ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

